Repository edmcouncil/idmp, pull requests merged in 2023-03, with the labels that each got.

#298 Update config files
  etc/onto-viewer-web-app/config/groups_config.yaml
  etc/onto-viewer-web-app/config/label_config.yaml
Labels: onto-viewer config

#309 All competency questions run as unit tests
  etc/CQ/Example/cq2.sparql
  etc/CQ/Example/cq3-1a.sparql
  etc/CQ/Example/cq3-1b.sparql
  etc/CQ/Example/cq3a.sparql
  etc/CQ/Example/cq3b.sparql
  etc/CQ/Example/cq4-1.sparql
  etc/CQ/Example/cq4.sparql
  etc/CQ/Example/cq5.sparql
  etc/CQ/Example/cq6.sparql
  etc/CQ/Example/cq7.sparql
  etc/CQ/Example/cq8.sparql
  etc/unit_tests/configs/unit_tests_config.yaml
  etc/unit_tests/cq_expected_results/cq_2_expected_results.json
  etc/unit_tests/cq_expected_results/cq_3-1a_expected_results.json
  etc/unit_tests/cq_expected_results/cq_3-1b_expected_results.json
  etc/unit_tests/cq_expected_results/cq_3a_expected_results.json
  etc/unit_tests/cq_expected_results/cq_3b_expected_results.json
  etc/unit_tests/cq_expected_results/cq_4-1_expected_results.json
  etc/unit_tests/cq_expected_results/cq_4_expected_results.json
  etc/unit_tests/cq_expected_results/cq_5_expected_results.json
  etc/unit_tests/cq_expected_results/cq_6_expected_results.json
  etc/unit_tests/cq_expected_results/cq_7_expected_results.json
  etc/unit_tests/cq_expected_results/cq_8_expected_results.json
Labels: unit test

#317 IDMP-435 - Create classes for SSG1, SSG2, SSG3, SSG4
  ISO/ISO11238-Substances.rdf
  ISO/ISO11615-MedicinalProducts.rdf
Labels: enhancement, UC2, reference data

#321 IDMP-465 - Integrate revised manufactured item and packaging strategy for UC-2
  AboutIDMPDev-ReferenceIndividuals.rdf
  AboutIDMPDev.rdf
  AboutIDMPProd-ReferenceIndividuals.rdf
  AboutIDMPProd.rdf
  CMNS/QuantitiesAndUnits.rdf
  ISO/ISO11238-Substances.rdf
  ISO/ISO11615-MedicinalProducts.rdf
Labels: enhancement, UC2
