Repository edmcouncil/idmp, pull requests merged in 2023-08, with the labels that each got.

#437 IDMP-633 - The definition of product role is too narrow
  ISO/ISO11615-MedicinalProducts.rdf
Labels: bug, UC1, unit test

#443 IDMP-636 - Extend the concept of structural representation in the ISO 11238 substances ontology to include molfile
  ISO/ISO11238-Substances.rdf
  ISO/ISO21090-HarmonizedDatatypes.rdf
Labels: enhancement, UC1

#446 Update GSRS for Molfile and cleanup
  etc/transformation/GSRS/gsrs-public-data-identifiers.rqg
  etc/transformation/GSRS/gsrs-public-data-substances.rqg
Labels: GSRS v3.0.3

#444 Some missing unit tests added
  etc/unit_tests/configs/idmp_tests_config.yaml
  etc/unit_tests/cq_expected_results/IDMP/cq0_amlodipine_expected_results.json
  etc/unit_tests/cq_expected_results/IDMP/cq0_terlipressin_expected_results.json
  etc/unit_tests/cq_expected_results/IDMP/uc1_cq5_terlipressin_expected_results.json
  etc/unit_tests/cq_expected_results/IDMP/uc1_cq6_terlipressin_expected_results.json
  etc/unit_tests/cq_expected_results/IDMP/uc2_cq1a_terlipressin_expected_results.json
Labels: unit test

#450 IDMP-642 - Integrate the latest revisions from the Commons ontologies, splitting parties and situations into two ontologies and renaming constituency to composition
  AboutIDMPDev-ReferenceIndividuals.rdf
  AboutIDMPDev.rdf
  AboutIDMPProd-ReferenceIndividuals.rdf
  AboutIDMPProd.rdf
  CMNS/AboutCommons-ReferenceIndividuals.rdf
  CMNS/AboutCommons.rdf
  CMNS/Composites.rdf
  CMNS/EuropeanJurisdiction/EUGovernmentEntitiesAndJurisdictions.rdf
  CMNS/GovernmentEntities.rdf
  CMNS/MetadataCMNS.rdf
  CMNS/Organizations.rdf
  CMNS/PartiesAndSituations.rdf
  CMNS/ProductsAndServices.rdf
  CMNS/RegulatoryAgencies.rdf
  CMNS/catalog-v001.xml
  EXT/Examples/AmlodipineExample.rdf
  EXT/Examples/EuropeanUnionClinicalTrialsRegister.rdf
  EXT/Examples/QlairaExample.rdf
  EXT/Examples/QlairaExample.ttl
  EXT/Examples/TerlipressinExample.rdf
  ISO/EuropeanJurisdiction/EuropeanRegistrationAuthorities.rdf
  ISO/EuropeanJurisdiction/EuropeanRegulatoryAgencies.rdf
  ISO/ISO11238-RegistrationAuthorities.rdf
  ISO/ISO11238-Substances.rdf
  ISO/ISO11615-MedicinalProducts.rdf
  ISO/NorthAmericanJurisdiction/NorthAmericanRegistrationAuthorities.rdf
  ISO/NorthAmericanJurisdiction/NorthAmericanRegulatoryAgencies.rdf
  ISO/catalog-v001.xml
  catalog-v001.xml
  etc/CQ/Example/uc1_cq1.sparql
  etc/CQ/Example/uc1_cq2.sparql
  etc/CQ/Example/uc1_cq3-1.sparql
  etc/CQ/Example/uc1_cq3.sparql
  etc/CQ/Example/uc1_cq6.sparql
  etc/CQ/Example/uc1_cq7.sparql
  etc/CQ/Example/uc1_cq8.sparql
  etc/CQ/Example/uc2_cq1-2.sparql
  etc/CQ/Example/uc2_cq1.sparql
  etc/CQ/Example/uc2_cq1a.sparql
  etc/CQ/Example/uc2_cq1b.sparql
  etc/CQ/Example/uc2_cq2-1.sparql
  etc/CQ/Example/uc3_cq1-1.sparql
  etc/CQ/Example/uc3_cq2.sparql
  etc/transformation/GSRS/gsrs-public-data-relationships.rqg
Labels: enhancement, UC1, UC2, UC3, reference data, CMNS
