Repository edmcouncil/idmp, pull requests merged in 2023-02, with the labels that each got.

#288 Update SPOR OMS Transformation
  etc/transformation/SPOR/organisations/spor-organisations.rqg
Labels: reference data

#286 IDMP-393 & IDMP-408: Add SPOR RMS Transformation
  etc/transformation/SPOR/referentials/README.md
  etc/transformation/SPOR/referentials/spor-referentials.rqg
  etc/transformation/SPOR/referentials/transform-local.sh
Labels: reference data

#304 IDMP 400 - GitHub action for competency questions run as unit tests
  .github/workflows/unit_tests_run.yml
  etc/CQ/Example/cq0.sparql
  etc/CQ/Example/cq1.sparql
  etc/unit_tests/__init__.py
  etc/unit_tests/configs/unit_tests_config.yaml
  etc/unit_tests/cq_expected_results/cq_0_expected_results.json
  etc/unit_tests/cq_expected_results/cq_1_expected_results.json
  etc/unit_tests/requirements.txt
  etc/unit_tests/unit_test_runner.py
Labels: competency question, unit test

#303 IDMP-405 - Refactor the substance class hierarchy to differentiate actual physical substances from classifiers for substances
  CMNS/Documents.rdf
  CMNS/GovernmentEntities.rdf
  CMNS/Organizations.rdf
  CMNS/RegistrationAuthorities.rdf
  EXT/Examples/AmlodipineExample.rdf
  EXT/Examples/TerlipressinExample.rdf
  ISO/ISO11238-Substances.rdf
  ISO/ISO11239-PharmaceuticalDoseForms.rdf
  ISO/ISO11615-MedicinalProducts.rdf
  META/ChangeManagement.rdf
  MetadataIDMP.rdf
Labels: enhancement, UC1, UC2, reference data
