Repository edmcouncil/idmp, pull requests merged in 2024-08, with the labels that each got.

#623 IDMP-771 - Revise the Quantities and Units ontology to reflect the latest revisions in the OMG Commons library
  CMNS/QuantitiesAndUnits.rdf
Labels: enhancement, consistency

#627 GitHub-626 - Address punning in SPOR schema definitions for RMS, PMS
  ISO/EuropeanJurisdiction/SubstancesProductsOrganisationsReferentials.rdf
Labels: SPOR, consistency

#628 Unused hygiene tests to be "parked"
  etc/testing/hygiene_parked/testHygiene_reporting_iso_conformance.sparql
  etc/testing/hygiene_parked/testHygiene_underspecified_examples.sparql
Labels: hygiene

#632 GitHub-629 - Punning of idmp-spor:SPOR-Domain
  ISO/EuropeanJurisdiction/SubstancesProductsOrganisationsReferentials.rdf
Labels: bug, SPOR

#625 IDMP-774 - Update remaining Commons ontologies to reflect the latest additions and changes to the OMG specification
  CMNS/Classifiers.rdf
  CMNS/Designators.rdf
  CMNS/EuropeanJurisdiction/EUGovernmentEntitiesAndJurisdictions.rdf
  CMNS/EuropeanJurisdiction/UKGovernmentEntitiesAndJurisdictions.rdf
  CMNS/GovernmentEntities.rdf
  CMNS/Locations.rdf
  CMNS/Organizations.rdf
  CMNS/ProductsAndServices.rdf
  CMNS/QuantitiesAndUnits.rdf
  CMNS/RegistrationAuthorities.rdf
  CMNS/RegulatoryAgencies.rdf
  CMNS/StatisticalMeasures.rdf
  CMNS/StructuredCollections.rdf
  EXT/Examples/AmlodipineExample.rdf
  EXT/Examples/EuropeanUnionClinicalTrialsRegister.rdf
  EXT/Examples/QlairaExample.rdf
  EXT/Examples/TerlipressinExample.rdf
  ISO/EuropeanJurisdiction/EuropeanRegistrationAuthorities.rdf
  ISO/EuropeanJurisdiction/SubstancesProductsOrganisationsReferentials.rdf
  ISO/ISO11238-RegistrationAuthorities.rdf
  ISO/ISO11238-Substances.rdf
  ISO/ISO11239-PharmaceuticalDoseForms.rdf
  ISO/ISO11240-UnitsOfMeasurement.rdf
  ISO/ISO11615-MedicinalProducts.rdf
  ISO/ISO11616-PharmaceuticalProducts.rdf
  ISO/ISO21090-HarmonizedDatatypes.rdf
  ISO/MedicalDictionaryForRegulatoryActivities.rdf
  ISO/NorthAmericanJurisdiction/CommonTerminologyCriteriaForAdverseEvents.rdf
  ISO/NorthAmericanJurisdiction/NorthAmericanRegistrationAuthorities.rdf
  ISO/NorthAmericanJurisdiction/PublicHealthInformationNetwork.rdf
Labels: enhancement, CMNS, consistency

#630 Update to property punning checks
  etc/testing/hygiene_parameterized/testHygiene_property_punning_in_declaration.sparql
  etc/testing/hygiene_parameterized/testHygiene_property_punning_in_use.sparql
Labels: hygiene
